//-index.pug

doctype html

html lang en

head 
    meta(charset="UTF-8")
    slyle 
        include style.css
    title Pied Piper - PiedPiperCoin 


body 
    header 
        div(class='header')
            div(class='header__header')
                div(class='logo__logo')
                    div(class='logo')
                        img(src='img/logo0.png')/
                        img(src='img/logo1.png')/
                        
                div(class='link')
                    div(class='link__link')
                        a(class='problem__href' href="#problem")the problem
                        |
                        a(class='coin__href' href='#coin')PipedPiperCoin
                        |
                        a(class='team__href' href='#team')the team
