header
  .header
    .header__header
      .logo
      .logo__logo
         img(src='http://www.picshare.ru/uploads/191115/w4y3aPc2uL.png' alt='logo1')
         img(src='http://www.picshare.ru/uploads/191115/323AEW49ad.png' alt='logo2')
         
      .link
        .link__link
           a.problem__href(href='#') the problem
           |
           a.coin__href(href='#') PipedPiperCoin
           |
           a.team__href(href='#') the team
           
           
article
  .contaiter
    .content
      .block-1
        h2.text-1 PiperNet Is Here
        
        
      .block-2
        .text-2
          h2.problem the Problem
          .text__2
             p Beneath the flashy homepages of your favorite sites lurk Hooli™ and other evil  corporations out to hoard and sell your most personal data.
             
             p What was built to be the ultimate platform for the free sharing of knowledge has turned into a money-hungry monster feasting on our privacy and freedom.
             
             p But fear not, for Pied Piper has the answer! And it’s simple:</br> An autonomous peer-to-peer network featuring distributed storage powered by universal compression, accelerated scheduling allocation, and end-to-end encryption.
             
             p Put even simpler — <b>it’s the internet, completely decentralized</b>.
             
     
        .block-3
          p.text__3 We’re in this together! All of our</br> computers and phones join in a network</br> to make the strongest supercomputer the</br> world has ever seen.
          
      .block-4
        .text-4
          h2.piper__coin Introducing PiedPiperCoin
          .text__4
            img(src='http://www.picshare.ru/uploads/191115/20NO5sj46e.png' alt='ppc__logo')
            
            p Pied Piper's new internet is built for users, by users. You supply the storage, compute, and networking resources that power our entire decentralized web.
            
            p Now there's a way to give credit where credit is due. Compute credit, that is! The more you share your device resources, the more PiedPiperCoin you receive
            
            p Whether you're a developer with an app ready for market, or just an Average Joe with a smartphone you'll love all you can do with PiedPiperCoin.
            
      .block-5
        p.team__text The Team
        .team
          .team_team
            .team__team
              figure
                img(src='http://www.picshare.ru/uploads/191115/03662RJWj6.png')
                figcaption
                  h3.name Richard Hendricks
                  span.job Founder & CEO
                  
            .team__team
              figure
                img(src='http://www.picshare.ru/uploads/191115/73ov1h84Vm.png')
                figcaption
                  h3.name Dinesh Chugtai
                  span.job Senior Programmer
                  
            .team__team
              figure
                img(src='http://www.picshare.ru/uploads/191115/yy8aWW83VK.png')
                figcaption
                  h3.name Bertram Gilfoyle
                  span.job Chief Systems Architect
                  
            .team__team
              figure
                img(src='http://www.picshare.ru/uploads/191115/dMkwZb1Fjn.png')
                figcaption
                  h3.name Jared Dunn
                  span.job Chief Operating Officer
                  
            .team__team
              figure
                img(src='http://www.picshare.ru/uploads/191115/xcj1n3cBJV.png')
                figcaption
                  h3.name Monica Hall
                  span.job Chief Financial Officer
                  
            .team__team
              figure
                img(src='http://www.picshare.ru/uploads/191115/cRZn8GGpwY.png')
                figcaption
                  h3.name Nelson Bighetti
                  span.job Majority Investor
                  
footer
  .footer
    .footer__footer
    p.footer__text All other trademarks and copyrights are the property of their</br> respective owners. Use of these names, trademarks and brands</br> does not imply endorsement.
